---
import Footer from "@/components/footer.astro";
import Header from "@/components/header.astro";
import "@/styles/normalize.css";
import "@/styles/global.css";

type Props = {
  image?: string;
  title: string;
  description: string;
};

const { image, title, description } = Astro.props;
---

<!doctype html>
<html lang="lt">
  <head>
    <meta charset="UTF-8" />
    <meta content="width=device-width" name="viewport" />
    <meta
      content="brameda, spa, džiovyklė, antbačiai, pėdų dezinfekatorius, bachilai, dezinfekcija, durų kilimėliai, įmonių kilimėliai, kilimėliai, valymo priemonės, higiena"
      name="keywords"
    />
    <meta content={image} property="og:image" />
    <meta content={title} property="og:title" />
    <meta content={description} name="description" />
    <meta content={description} property="og:description" />
    <meta content="website" property="og:type" />
    <meta content={Astro.url} property="og:url" />
    <meta content={Astro.generator} name="generator" />
    <link href="/sitemap-index.xml" rel="sitemap" />
    <link href="/favicon.ico" rel="icon" type="image/x-icon" />
    <link href={Astro.url} rel="canonical" />
    <link crossorigin href="https://images.ctfassets.net" rel="preconnect" />
    <link href="https://fonts.googleapis.com" rel="preconnect" />
    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <main id="main">
      <slot />
    </main>
    <Footer />
  </body>
</html>
