---
import Footer from "@/components/footer.astro";
import Header from "@/components/header.astro";
import "@/styles/normalize.css";
import "@/styles/global.css";
import Disclaimer from "@/components/ui/disclaimer.astro";

type Props = {
  title: string;
  description: string;
};

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="lt">
  <head>
    <!-- TODO add meta info -->
    <meta charset="UTF-8" />
    <meta content="Astro description" name="description" />
    <meta content="width=device-width" name="viewport" />
    <meta content={description} name="description" />
    <meta content="brameda, spa, džiovyklė, antbačiai" name="keywords" />
    <meta content={title} property="og:title" />
    <meta content={description} property="og:description" />
    <meta content="website" property="og:type" />
    <meta content={Astro.url} property="og:url" />
    <link href="/sitemap-index.xml" rel="sitemap" />
    <link href="/favicon.ico" rel="icon" type="image/svg+xml" />
    <link href="styles/style.css" rel="stylesheet" />
    <meta content={Astro.generator} name="generator" />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <main id="main">
      <slot />
    </main>
    <Footer />
    <Disclaimer>Svetaine kuriama ir pildoma</Disclaimer>
  </body>
</html>
