---
function localizedPrice(price: number) {
  return new Intl.NumberFormat("lt-LT", {
    style: "currency",
    currency: "EUR",
    minimumFractionDigits: 2,
  }).format(Number(price));
}

const { key, price } = Astro.props;
---

<div class="price-container" data-price-component data-price-container-id={key}>
  <p>
    Kaina:&nbsp;<data data-price id={`price-${key}`} value={price}
      >{localizedPrice(price)}</data
    >
  </p>
  <div class="price-toggle">
    <!-- TODO put labels inside switch or make radio buttons -->
    <span class="toggle-text off">Be PVM</span>
    <input id={`switch-${key}`} type="checkbox" />
    <label for={`switch-${key}`}>Toggle</label>
    <span class="toggle-text on">Su PVM</span>
  </div>
</div>

<style>
  .price-container {
    display: flex;
    flex-direction: column;
  }

  .price-toggle {
    display: flex;
    align-items: center;
    gap: 2px;

    &:has(input:checked) .toggle-text.off {
      text-decoration: line-through;
    }

    &:has(input:not(:checked)) .toggle-text.on {
      text-decoration: line-through;
    }
  }

  .toggle-text {
    font-size: 1.6rem;
  }

  input[type="checkbox"] {
    height: 0;
    width: 0;
    visibility: hidden;
  }

  label {
    cursor: pointer;
    text-indent: -9999px;
    width: 40px;
    height: 20px;
    background: var(--color-grey-light2);
    display: block;
    border-radius: 20px;
    position: relative;
  }

  label:after {
    content: "";
    position: absolute;
    top: 1px;
    left: 1px;
    width: 18px;
    height: 18px;
    background: #fff;
    border-radius: 18px;
    transition: 0.3s;
  }

  input:checked + label {
    background: var(--color-grey-light2);
  }

  input:checked + label:after {
    left: calc(100% - 1px);
    transform: translateX(-100%);
  }

  label:active:after {
    width: 26px;
  }
</style>

<script>
  function localizedPrice(price: number) {
    return new Intl.NumberFormat("lt-LT", {
      style: "currency",
      currency: "EUR",
      minimumFractionDigits: 2,
    }).format(price);
  }

  const VAT_RATE = 0.21;

  const priceComponents = document.querySelectorAll<HTMLElement>(
    "[data-price-component]"
  );

  priceComponents.forEach((component) => {
    const switchElement = component.querySelector<HTMLInputElement>(
      'input[type="checkbox"]'
    );
    const priceElement =
      component.querySelector<HTMLDataElement>("[data-price]");
    const priceWithoutVat = parseFloat(priceElement?.value || "0");

    if (!switchElement || !priceElement || isNaN(priceWithoutVat)) return;

    switchElement.addEventListener("change", (event) => {
      const isChecked = (event.target as HTMLInputElement)?.checked;
      const newPrice = isChecked
        ? priceWithoutVat * (1 + VAT_RATE)
        : priceWithoutVat;

      priceElement.textContent = localizedPrice(newPrice);
    });
  });
</script>
